* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, serif;
} 

body {
	font-size: 16px;
	background-color: #DEDEDE;
	margin: 4px;
}

#header {
	margin-left: auto;
	margin-right: auto;
}

#logoImage {
	float: left;
	background: url('./pictures/logo.png') no-repeat;
	width: 120px;
	height: 102px;
	margin-right: 8px;
	margin-bottom: 8px;
}

#brand a {
	text-decoration: none;
}

h1 {
	margin-top: 0px;
	margin-bottom: 6px;
	color: #5D478B;
	font-weight: bold;
}

h2 {
	margin-top: 0px;
	margin-bottom: 6px;
	font-size: 100%;
	color: #8968CD;
}

.Hr {
	clear: both;
	border-color: black;
	border-bottom: 1px;
	border-left: 0px;
	border-right: 0px;
}

#notesHolder {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

#importedText {
	width: 100%;
}

#mainContent {
	margin-left: auto;
	margin-right: auto;
}

.Menus {
	float: left;
	background-color: #828282;
	margin-bottom: 4px;
}

.Menus > ul {
	padding: 0px;
	margin-top: 14px;
	margin-bottom: 14px;
	list-style: none;
}

.Menus > ul > li {
	font-size: 125%;
	margin: 5px;
}

.Menus > ul > li > a {
	color: #FFFFFD;
	text-decoration: none;
	font-weight: bold;
	padding: 2px;
}

#bottomMenu, #forInstitutes {
	clear: both;
}

#forInstitutes {
	margin-bottom: 8px;
}

#forInstitutes > div {
	background-color: #EEEE00;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	text-align: center;
}

#bottomMenu > ul > li , #forInstitutes > ul > li {
	display: inline;
}

#openingHours {
	text-align: center;
	color: #FFFFFD;
	font-weight: bold;
}

#infoHolder > div > ul {
	list-style: none;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

#infoHolder > div > ul > li {
	color: #FFFFFD;
}

#infoHolder > div > ul > li > span {
	float: right;
}

.boxHolder {
	float: left;
	width: 100%;
	margin-top: 4px;	
}

.SpecialTitle {
	height: 204px;
	position: relative;
	border-top: 2px solid #5D478B;
	overflow: hidden;
}

.SpecialTitle span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	background-color: #000;
	color: #FFF;
	opacity: 0.8;
	padding-top: 2px;
	padding-bottom: 2px;
}

footer div {
	text-align: center;
	color: #5D478B;
	font-size: 75%;
}

/* PSEUDO CLASS SELECTORS ---------------------- */
.Menus > ul > li > a:hover, .Menus > ul > li > a:active {
	color: black;
	background-color: #DEDEDE;
	text-decoration: underline;
	text-decoration-color: #5D478B;
}

.SpecialTitle span:hover {
	box-shadow: 0 1px 10px 1px black;
}

/* MEIDA QUERIES ------------------------------- */
@media (min-width: 1601px)
{
	.fontsize-1920 
	{
		font-size: 225%;		
	}
	.col-1920-1
	{
		width: 8.3%;
	}
	.col-1920-2
	{
		width: 16.66%;
	}
	.col-1920-3
	{
		width: 25%;
	}
	.col-1920-4
	{
		width: 33.33%;
	}
	.col-1920-5
	{
		width: 41.66%;
	}
	.col-1920-6
	{
		width: 50%;
	}
	.col-1920-7
	{
		width: 58.33%;
	}
	.col-1920-8
	{
		width: 66.66%;
	}
	.col-1920-9
	{
		width: 74.99%;
	}
	.col-1920-10
	{
		width: 83.33%;
	}
	.col-1920-11
	{
		width: 91.66%;
	}
	.col-1920-12
	{
		width: 100%;
	}
	.col-1920-disabled
	{
		display: none;
	}
	#importedText
	{
		height: 30px;
	}
	#leftMenu 
	{
		margin-right: 5px;
	}
	#leftMenu ul > li > a 
	{
		display: block;
	}
	#imageHolder 
	{
		width: 500px;
		height: 534px;
		background: url('./pictures/shop.jpg') no-repeat;
		margin-right: 5px;
	}
	#infoHolder 
	{
		width: 500px;
	}
}
@media (min-width: 1281px) and (max-width: 1600px)
{
	.fontsize-1600 
	{
		font-size: 225%;		
	}
	.col-1600-1
	{
		width: 8.3%;
	}
	.col-1600-2
	{
		width: 16.66%;
	}
	.col-1600-3
	{
		width: 25%;
	}
	.col-1600-4
	{
		width: 33.33%;
	}
	.col-1600-5
	{
		width: 41.66%;
	}
	.col-1600-6
	{
		width: 50%;
	}
	.col-1600-7
	{
		width: 58.33%;
	}
	.col-1600-8
	{
		width: 66.66%;
	}
	.col-1600-9
	{
		width: 74.99%;
	}
	.col-1600-10
	{
		width: 83.33%;
	}
	.col-1600-11
	{
		width: 91.66%;
	}
	.col-1600-12
	{
		width: 100%;
	}
	.col-1600-disabled
	{
		display: none;
	}
	#importedText
	{
		height: 30px;
	}
	#leftMenu 
	{
		margin-right: 5px;
	}
	#leftMenu ul > li > a 
	{
		display: block;
	}
	#imageHolder 
	{
		width: 500px;
		height: 534px;
		background: url('./pictures/shop.jpg') no-repeat;
		margin-right: 5px;
	}
	#infoHolder 
	{
		width: 425px;
	}
}
@media (min-width: 1025px) and (max-width: 1280px)
{ 
	.fontsize-1280 
	{
		font-size: 200%;		
	}
	.col-1280-1
	{
		width: 8.3%;
	}
	.col-1280-2
	{
		width: 16.66%;
	}
	.col-1280-3
	{
		width: 25%;
	}
	.col-1280-4
	{
		width: 33.33%;
	}
	.col-1280-5
	{
		width: 41.66%;
	}
	.col-1280-6
	{
		width: 50%;
	}
	.col-1280-7
	{
		width: 58.33%;
	}
	.col-1280-8
	{
		width: 66.66%;
	}
	.col-1280-9
	{
		width: 74.99%;
	}
	.col-1280-10
	{
		width: 83.33%;
	}
	.col-1280-11
	{
		width: 91.66%;
	}
	.col-1280-12
	{
		width: 100%;
	}
	.col-1280-disabled
	{
		display: none;
	}
	#importedText
	{
		height: 30px;
	}
	#leftMenu 
	{
		margin-right: 4px;
	}
	#leftMenu ul > li > a 
	{
		display: block;
	}
	img 
	{
    	float: left;
    	width: 40%;
    	max-width: 500px;
    	height: auto;
    	margin-right: 4px;
    	margin-bottom: 4px;
	}
	#infoHolder 
	{
		width: 37.1%;
	}
}
@media (min-width: 801px) and (max-width: 1024px)
{
	.fontsize-1024 
	{
		font-size: 150%;		
	}
	.col-1024-1
	{
		width: 8.3%;
	}
	.col-1024-2
	{
		width: 16.66%;
	}
	.col-1024-3
	{
		width: 25%;
	}
	.col-1024-4
	{
		width: 33.33%;
	}
	.col-1024-5
	{
		width: 41.66%;
	}
	.col-1024-6
	{
		width: 50%;
	}
	.col-1024-7
	{
		width: 58.33%;
	}
	.col-1024-8
	{
		width: 66.66%;
	}
	.col-1024-9
	{
		width: 74.99%;
	}
	.col-1024-10
	{
		width: 83.33%;
	}
	.col-1024-11
	{
		width: 91.66%;
	}
	.col-1024-12
	{
		width: 100%;
	}
	.col-1024-disabled
	{
		display: none;
	}
	#importedText
	{
		height: 35px;
	}
	#leftMenu ul > li 
	{
		display: inline;
	}
	img 
	{
    	float: left;
    	width: 51%;
    	max-width: 500px;
    	height: auto;
    	margin-right: 4px;
    	margin-bottom: 4px;
	}
	#infoHolder 
	{
		width: 48%;
		float: right;
	}
}
@media (min-width: 641px) and (max-width: 800px)
{
	.fontsize-800 
	{
		font-size: 125%;		
	}
	.col-800-1
	{
		width: 8.3%;
	}
	.col-800-2
	{
		width: 16.66%;
	}
	.col-800-3
	{
		width: 25%;
	}
	.col-800-4
	{
		width: 33.33%;
	}
	.col-800-5
	{
		width: 41.66%;
	}
	.col-800-6
	{
		width: 50%;
	}
	.col-800-7
	{
		width: 58.33%;
	}
	.col-800-8
	{
		width: 66.66%;
	}
	.col-800-9
	{
		width: 74.99%;
	}
	.col-800-10
	{
		width: 83.33%;
	}
	.col-800-11
	{
		width: 91.66%;
	}
	.col-800-12
	{
		width: 100%;
	}
	.col-800-disabled
	{
		display: none;
	}
	#importedText
	{
		height: 60px;
	}
	#leftMenu ul > li 
	{
		display: inline;
	}
	img 
	{
    	float: left;
    	width: 60%;
    	height: auto;
    	margin-right: 3px;
	}
	#infoHolder 
	{
		width: 39.5%;
		float: right;
	}
}
@media (max-width: 640px)
{
	.fontsize-640 
	{
		font-size: 125%;		
	}
	.col-640-1
	{
		width: 8.3%;
	}
	.col-640-2
	{
		width: 16.66%;
	}
	.col-640-3
	{
		width: 25%;
	}
	.col-640-4
	{
		width: 33.33%;
	}
	.col-640-5
	{
		width: 41.66%;
	}
	.col-640-6
	{
		width: 50%;
	}
	.col-640-7
	{
		width: 58.33%;
	}
	.col-640-8
	{
		width: 66.66%;
	}
	.col-640-9
	{
		width: 74.99%;
	}
	.col-640-10
	{
		width: 83.33%;
	}
	.col-640-11
	{
		width: 91.66%;
	}
	.col-640-12
	{
		width: 100%;
	}
	.col-640-disabled
	{
		display: none;
	}
	#importedText
	{
		height: 60px;
	}
	#leftMenu ul > li 
	{
		display: inline;
	}
	img 
	{
    	width: 100%;
    	max-width: 500px;
    	height: auto;
	}
	#infoHolder 
	{
		width: 100%;
	}
}