* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, serif;
} 

body {
	font-size: 16px;
	background-color: #E3E3E3;
	margin: 4px;
}

#header {
	margin-left: auto;
	margin-right: auto;
}

#logoImage {
	float: left;
	background: url('./pictures/logo.jpg') no-repeat;
	width: 120px;
	height: 98px;
	margin-right: 8px;
	margin-bottom: 8px;
	transition: 0.1s;
}

#brand {
	float: left;
}

#brand a {
	text-decoration: none;
}

h1 {
	margin-top: 0px;
	margin-bottom: 6px;
	color: #5D478B;
	font-weight: bold;
}

h2 {
	margin-top: 0px;
	margin-bottom: 6px;
	font-size: 1em;
	color: #8968CD;
}

.OpeningHours {
	float: left;
	background-color: #828282;
	font-size: 0.8125em;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 36px;
	width: 466px;
}

.OpeningHours > div {
	background-color: #EEEE00;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	text-align: center; 
}

.OpeningHours > ul {
	list-style: none;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px; 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

.OpeningHours > ul > li {
	color: #FFFFFD;
}

.OpeningHours > ul > li > span {
	float: right;
}

.Hr {
	clear: both;
	border-color: black;
	border-bottom: 1px;
	border-left: 0px;
	border-right: 0px;
}

#hr1 {
	margin-bottom: 0px;
}

#hr2 {
	margin-top: 0px;
}

#notesHolder {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

#importedText {
	width: 100%;
}

#mainContent {
	margin-left: auto;
	margin-right: auto;
}

.Menus {
	float: left;
	background-color: #828282;
	margin-bottom: 4px;
}

.Menus > ul {
	padding: 0px;
	margin-top: 14px;
	margin-bottom: 14px;
	list-style: none;
}

.Menus > ul > li {
	font-size: 1.25em;
	margin: 5px;
}

.Menus > ul > li > a {
	color: #FFFFFD;
	text-decoration: none;
	font-weight: bold;
	padding: 2px;
	margin-left: -2px;
	margin-right: -2px;
	border-radius: 3px;
}

#bottomMenu, #forInstitutes {
	clear: both;
}

#bottomMenu > ul {
	margin-top: 12px;
	margin-bottom: 12px;
}

#bottomMenu > ul > li {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
}

#forInstitutes {
	margin-bottom: 8px;
}

#forInstitutes > div {
	background-color: #EEEE00;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	text-align: center;
}

#forInstitutes > ul {
	margin-top: 12px;
	margin-bottom: 12px;
}

#forInstitutes > ul > li {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
}

#infoHolder {
	float: left;
	margin-bottom: 4px;
}

#infoHolderImageWrapper 
{
	width: 208px;
	height: 126px;
	margin-left: auto;
	margin-right: auto;
}

#infoHolderImageWrapper img
{
	transition: 0.1s;
}

.boxHolder {
	float: left;
	width: 100%;
	margin-top: 4px;	
}

.SpecialTitle {
	height: 200px;
	position: relative;
	border-top: 2px solid #5D478B;
	overflow: hidden;
}

.SpecialTitle > span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	background-color: #000;
	color: #FFF;
	opacity: 0.75;
	padding-top: 1px;
	padding-bottom: 1px;
	transition: 0.2s;
}
.SpecialTitle > span > span {
	color: #8968CD;
	font-weight: bold;
} 

footer div {
	text-align: center;
	color: #5D478B;
	font-size: 0.75em;
}
/* Fot javascripted HTML ----------------------- */
#forZoomedLogo {
	margin-left: auto;
	margin-right: auto;
}

/* Javascripted HTML --------------------------- */
#zoomedLogo {
	width: auto;
    max-width: 100%;
}

#displayImageFromInfoHolder {
	position: absolute;
	visibility: hidden;
}

#displayImageFromInfoHolder > img {
	width: 100%;
}

/* PSEUDO CLASS SELECTORS ---------------------- */
#logoImage:hover, #logoImage:active {
	box-shadow: 0 1px 5px 1px #5D478B;
}

.Menus > ul > li > a:hover, .Menus > ul > li > a:active {
	color: black;
	background-color: #E3E3E3;
	text-decoration: underline;
	text-decoration-color: black;
	box-shadow: 0 1px 5px 1px #5D478B;
}

#infoHolderImageWrapper > a > img:hover, #infoHolderImageWrapper > a > img:active {
	box-shadow: 0 1px 5px 1px #5D478B;
}

.SpecialTitle > span:hover, .SpecialTitle > span:active {
	box-shadow: 0 1px 5px 1px #5D478B;
}

/* MEIDA QUERIES ------------------------------- */
@media (min-width: 1601px)
{
	h1 
	{
		font-size: 2em;		
	}
	.col-1920-1
	{
		width: 8.3%;
	}
	.col-1920-2
	{
		width: 16.66%;
	}
	.col-1920-3
	{
		width: 25%;
	}
	.col-1920-4
	{
		width: 33.33%;
	}
	.col-1920-5
	{
		width: 41.66%;
	}
	.col-1920-6
	{
		width: 50%;
	}
	.col-1920-7
	{
		width: 58.33%;
	}
	.col-1920-8
	{
		width: 66.66%;
	}
	.col-1920-9
	{
		width: 74.99%;
	}
	.col-1920-10
	{
		width: 83.33%;
	}
	.col-1920-11
	{
		width: 91.66%;
	}
	.col-1920-12
	{
		width: 100%;
	}
	.col-1920-disabled
	{
		display: none;
	}
	#importedText
	{
		height: 30px;
	}
	#leftMenu 
	{
		margin-right: 4px;
		width: 214px;
		height: 534px;
	}
	#leftMenu ul > li > a 
	{
		display: block;
	}
	#imageHolder
	{
		position: relative;
		float: left;
		width: 500px;
    	margin-right: 4px;
	}
	#forPictureRotation
	{
		height: 534px;
	}
	#forPictureRotation > img 
	{
    	width: auto;
    	max-width: 100%;
    	max-height: 534px;
	}
	#infoHolder 
	{
		width: 466px;
	}
	#forInstitutes
	{
		width: 1188px;
	}
}
@media (min-width: 1281px) and (max-width: 1600px)
{
	h1 
	{
		font-size: 2em;		
	}
	.col-1600-1
	{
		width: 8.3%;
	}
	.col-1600-2
	{
		width: 16.66%;
	}
	.col-1600-3
	{
		width: 25%;
	}
	.col-1600-4
	{
		width: 33.33%;
	}
	.col-1600-5
	{
		width: 41.66%;
	}
	.col-1600-6
	{
		width: 50%;
	}
	.col-1600-7
	{
		width: 58.33%;
	}
	.col-1600-8
	{
		width: 66.66%;
	}
	.col-1600-9
	{
		width: 74.99%;
	}
	.col-1600-10
	{
		width: 83.33%;
	}
	.col-1600-11
	{
		width: 91.66%;
	}
	.col-1600-12
	{
		width: 100%;
	}
	.col-1600-disabled
	{
		display: none;
	}
	#importedText
	{
		height: 30px;
	}
	#leftMenu 
	{
		margin-right: 4px;
		width: 214px;
		height: 534px;
	}
	#leftMenu ul > li > a 
	{
		display: block;
	}
	#imageHolder
	{
		position: relative;
		float: left;
		width: 500px;
    	margin-right: 4px;
	}
	#forPictureRotation
	{
		height: 534px;
	}
	#forPictureRotation > img 
	{
    	width: auto;
    	max-width: 100%;
    	max-height: 534px;
	}
	#infoHolder 
	{
		width: 466px;
	}
	#forInstitutes
	{
		width: 1188px;
	}
}
@media (min-width: 1025px) and (max-width: 1280px)
{ 
	h1
	{
		font-size: 2em;		
	}
	.col-1280-1
	{
		width: 8.3%;
	}
	.col-1280-2
	{
		width: 16.66%;
	}
	.col-1280-3
	{
		width: 25%;
	}
	.col-1280-4
	{
		width: 33.33%;
	}
	.col-1280-5
	{
		width: 41.66%;
	}
	.col-1280-6
	{
		width: 50%;
	}
	.col-1280-7
	{
		width: 58.33%;
	}
	.col-1280-8
	{
		width: 66.66%;
	}
	.col-1280-9
	{
		width: 74.99%;
	}
	.col-1280-10
	{
		width: 83.33%;
	}
	.col-1280-11
	{
		width: 91.66%;
	}
	.col-1280-12
	{
		width: 100%;
	}
	.col-1280-disabled
	{
		display: none;
	}
	.OpeningHours
	{
		margin-left: 28px;
	}
	#importedText
	{
		height: 30px;
	}
	#leftMenu 
	{
		margin-right: 4px;
		width: 214px;
		height: 534px;
	}
	#leftMenu ul > li > a 
	{
		display: block;
	}
	#imageHolder
	{
		position: relative;
		float: left;
		width: 40%;
    	max-width: 500px;
    	margin-right: 4px;
	}
	#forPictureRotation
	{
		height: 534px;
	}
	#forPictureRotation > img 
	{
    	width: auto;
    	max-width: 100%;
    	max-height: 534px;
	}
	#infoHolder 
	{
		width: 36.6%;
	}
	#forInstitutes {
		width: 99%;
		max-width: 1188px;
		text-align: justify;
	}
}
@media (min-width: 801px) and (max-width: 1024px)
{
	h1
	{
		font-size: 1.5em;		
	}
	.col-1024-1
	{
		width: 8.3%;
	}
	.col-1024-2
	{
		width: 16.66%;
	}
	.col-1024-3
	{
		width: 25%;
	}
	.col-1024-4
	{
		width: 33.33%;
	}
	.col-1024-5
	{
		width: 41.66%;
	}
	.col-1024-6
	{
		width: 50%;
	}
	.col-1024-7
	{
		width: 58.33%;
	}
	.col-1024-8
	{
		width: 66.66%;
	}
	.col-1024-9
	{
		width: 74.99%;
	}
	.col-1024-10
	{
		width: 83.33%;
	}
	.col-1024-11
	{
		width: 91.66%;
	}
	.col-1024-12
	{
		width: 100%;
	}
	.col-1024-disabled
	{
		display: none;
	}
	.col-1024-float-right
	{
		float: right;
	}
	.OpeningHours 
	{
		margin-left: 0px;
	}
	#importedText
	{
		height: 35px;
	}
	#leftMenu ul
	{
		margin-top: 12px;
		margin-bottom: 12px;
	}
	#leftMenu ul > li 
	{
		display: inline-block;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	#imageHolder
	{
		position: relative;
		float: left;
		width: 51%;
    	max-width: 500px;
    	margin-right: 4px;
	}
	#forPictureRotation
	{
		height: 534px;
	}
	#forPictureRotation > img 
	{
    	width: auto;
    	max-width: 100%;
    	max-height: 534px;
	}
	#infoHolder 
	{
		width: 48%;
		float: right;
	}
}
@media (min-width: 641px) and (max-width: 800px)
{
	h1 
	{
		font-size: 1.5em;	
	}
	.col-800-1
	{
		width: 8.3%;
	}
	.col-800-2
	{
		width: 16.66%;
	}
	.col-800-3
	{
		width: 25%;
	}
	.col-800-4
	{
		width: 33.33%;
	}
	.col-800-5
	{
		width: 41.66%;
	}
	.col-800-6
	{
		width: 50%;
	}
	.col-800-7
	{
		width: 58.33%;
	}
	.col-800-8
	{
		width: 66.66%;
	}
	.col-800-9
	{
		width: 74.99%;
	}
	.col-800-10
	{
		width: 83.33%;
	}
	.col-800-11
	{
		width: 91.66%;
	}
	.col-800-12
	{
		width: 100%;
	}
	.col-800-disabled
	{
		display: none;
	}
	.OpeningHours 
	{
		clear: both;
		margin-left: 0px;
		margin-bottom: 8px;
	}
	#importedText
	{
		height: 55px;
	}
	#leftMenu ul
	{
		margin-top: 12px;
		margin-bottom: 12px;
	}
	#leftMenu ul > li 
	{
		display: inline-block;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	#imageHolder
	{
		position: relative;
		float: left;
		width: 60%;
    	max-width: 500px;
    	margin-right: 3px;
	}
	#forPictureRotation
	{
		height: 534px;
	}
	#forPictureRotation > img 
	{
    	width: auto;
    	max-width: 100%;
    	max-height: 534px;
	}
	#infoHolder 
	{
		width: 39.5%;
		float: right;
	}
}
@media (max-width: 640px)
{
	*
	{
		clear: both;
	}
	h1
	{
		font-size: 1.5em;
		text-align: center;
		margin-left: auto;
		margin-right: auto;			
	}
	h2
	{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.col-640-1
	{
		width: 8.3%;
	}
	.col-640-2
	{
		width: 16.66%;
	}
	.col-640-3
	{
		width: 25%;
	}
	.col-640-4
	{
		width: 33.33%;
	}
	.col-640-5
	{
		width: 41.66%;
	}
	.col-640-6
	{
		width: 50%;
	}
	.col-640-7
	{
		width: 58.33%;
	}
	.col-640-8
	{
		width: 66.66%;
	}
	.col-640-9
	{
		width: 74.99%;
	}
	.col-640-10
	{
		width: 83.33%;
	}
	.col-640-11
	{
		width: 91.66%;
	}
	.col-640-12
	{
		width: 100%;
	}
	.col-640-disabled
	{
		display: none;
	}
	#brand 
	{
		float: none;
	}
	#brand button 
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4px;
	}
	.OpeningHours 
	{
		clear: both;
		margin-left: 0px;
		margin-bottom: 8px;
	}
	#importedText
	{
		height: 60px;
	}
	#leftMenu ul
	{
		margin-top: 12px;
		margin-bottom: 12px;
	}
	#leftMenu ul > li 
	{
		display: inline-block;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	#imageHolder
	{
		position: relative;
		width: 100%
    	max-width: 500px;
    	height: 400px;
    	margin-bottom: 4px;
	}
	#forPictureRotation
	{
		height: 400px;
	}
	#displayImageFromInfoHolder
	{
		width: 100%;
	}
	#forPictureRotation > img 
	{
    	max-width: 100%;
    	max-height: 400px;
	}
	#infoHolder 
	{
		width: 100%;
	}
}