* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, serif;
	margin: 0px;
	padding: 0px;
} 

body {
	font-size: 16px;
	background-color: #DEDEDE;

}

#messages {
	font-weight: bold;
	color: #CD3700;
}

.Important {
	font-weight: bold;
	font-size: 150%;
	color: red;
}