* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, serif;
} 

body {
	font-size: 16px;
	background-color: #E3E3E3;
	margin: 4px;
}

#mainDiv {
	width: 97%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#mainPicture {
	width: 100%;
}
